<%- include('./shared/layout-start.ejs', {title: title}) %>
<%- include('./shared/menu.ejs') %>

<h1 class=""><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        <%- include('./shared/form') %>
    </div>
</div>

<%- include('./shared/layout-end.ejs') %>